#interface {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: center;
}

.controls button {
  width: 3rem;
  height: 3rem;
  background-color: #f0f0f0;
  border-radius: 99%;
  border: none;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.prev,
.next {
  font-size: 2rem;
}

.animate {
  margin: 0 1rem;
  background-color: #f65353 !important;
  color: #f0f0f0;
  font-size: 1.25rem;
}
